@import "tailwindcss";

@theme {
  --color-redchew: #af040d;
  --color-pinkchew: #ffdede;
  --color-whitechew: #faf7ee;
  --color-beige: #f4e9d7;
  --color-lightbrownchew: #e2c89f;
  --color-brownchew: #592d17;
}

@font-face {
  font-family: 'Principal';
  src: url('./assets/fonts/mistysrelrica-3llk3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}