@import "tailwindcss";

@theme {
    --color-redchew: #af040d;
    --color-pinkchew: #ffdede;
    --color-whitechew: #faf7ee;
    --color-beige:#f4e9d7;
    --color-lightbrownchew:#e2c89f;
    --color-brownchew:#592d17;
}


